body {
background-color: #111;
font-family: helvetica;
}
a {
text-decoration: none;
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .top {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(0,0,0,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
.top h1 {
position: fixed;
top: 5px;
left: 55px;
font-size: 25px;
color: #ff3056;
}
.top Img {
width: 30px;
height: 30px;
border-radius: 30px;
margin-left: 20px;
}
.top p {
position: fixed;
right: 20px;
top: 12.5px;
color: #777;
}
.info {
background-color: #000;
padding-top: 100px;
padding-bottom: 20px;
}
.info img {
width: 100px;
height: 100px;
border-radius: 50px;
}
.info h1 {
font-size: 30px;
font-weight: 600;
margin: 10px;
color: #ff3056;
}
.info p {
font-size: 15px;
color: #777;
margin: 10px;
}
.info a {
color: #fff;
display: block;
width: 120px;
padding-top: 10px;
padding-bottom: 10px;
border-radius: 10px;
background-color: #ff3056;
margin: 10px;
}
.card {
width: 85%;
max-width: 400px;
display: inline-block;
background-color: #000;
border-radius: 5px;
margin: 10px;
}
.card h2 {
color: #ff3056;
font-weight: 800;
text-align: justify;
margin-left: 20px;
}
.card p {
color: #777;
font-weight: 400;
text-align: justify;
margin-left: 20px;
margin-right: 20px;
}
.card-devs {
width: 85%;
max-width: 400px;
display: inline-block;
background-color: #000;
border-radius: 5px;
margin: 10px;
}
.card-devs h2 {
color: #ff3056;
font-weight: 800;
text-align: justify;
margin-left: 20px;
}
.card-devs p {
color: #777;
font-weight: 400;
text-align: justify;
margin-left: 20px;
margin-right: 20px;
}
.card-devs img {
width: 120px;
border-radius: 60px;
margin: 15px;
}
.card-devs a {
color: #fff;
display:block;
width:85%;
padding-top:10px;
padding-bottom:10px;
border-radius:10px;
background-color: #ff3056;
margin: 10px;
}
@supports (
  (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))
) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0,0,0,.6);
    color: #fff;
    text-align: center;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}
